<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>


<% unless user_signed_in? || doctor_signed_in? %>
  <%= link_to 'log in as a doctor', new_doctor_session_path %>
  <%= link_to 'log in as a patient', new_user_session_path %>
<% end %>

<% if current_user %>
  <%= form_for(:session, url: destroy_user_session_path, method: :delete, data: { turbo: false }) do |f| %>
    <%= f.submit "Log out" %>
  <% end %>
<% elsif current_doctor %>
  <%= form_for(:session, url: destroy_doctor_session_path, method: :delete, data: { turbo: false }) do |f| %>
    <%= f.submit "Log out" %>
  <% end %>
<% end %>
  