<div class="profile">
  <div class="profile__container">
    <h1 class="profile__title title">
      Profile
    </h1>
    <p class="profile__description">
    Welcome to your patient profile page! Here, you can easily manage your healthcare by booking appointments with your doctor from category you need.
    At your profile page you able to view your personal information, medical history, and upcoming appointments.
    If you need to make a new appointment, simply select the category you need and then push the button "Create an appointment".
    </p>
    <div class="profile__body body-profile">
      <div class="body-profile__user">
        <%= full_name(current_user) %>
      </div>
      <div class="body-profile__appointment appointment-body-profile">
        <div class="appointment-body-profile__item">
          <h2 class="appointment-body-profile__title">
            Make an Appointment
          </h2>
          <%= form_with(url: new_appointment_path, method: :get, html:{class:'appointment-body-profile__form form-appointment' }) do |f| %>
          <div class="form-appointment__field">
            <%= f.label 'Choose category:', class:'form-appointment__label' %>
            <%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'title') %>
          </div>
          <div class="form-appointment__field">
            <%= f.submit "Create Appointment", class: 'form-appointment__button button' %>
          </div>
        <% end %>
        </div>
        <div class="appointment-body-profile__item">
          <h2 class='appointment-body-profile__title'>
            Active Appointments
          </h2>
            <% @appointments.each do |ap| %>
              <%= ap.description if ap.active %>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>


