<div class="profile">
  <div class="profile__container">
    <h1 class="profile__title title">
      Profile
    </h1>
    <p class="profile__description">
      Welcome to your patient profile page, <b class='profile__user'><%= full_name(current_user) %></b>! Here, you can easily manage your healthcare by booking appointments with your doctor from category you need.
      At your profile page you able to view your personal information and upcoming appointments.
      If you need to make a new appointment, simply select the category you need and then push the button "Create an appointment".
    </p>
    <div class="profile__body body-profile">
      <div class="body-profile__appointment appointment-body-profile">
        <div class="appointment-body-profile__item">
          <h2 class="appointment-body-profile__title title">
            Make an Appointment
          </h2>
          <%= form_with(url: new_appointment_path, method: :get, html:{class:'appointment-body-profile__form form-appointment' }) do |f| %>
            <div class="form-appointment__field">
              <%= f.label 'Choose category:', class:'form-appointment__label' %>
              <%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'title') %>
            </div>
            <div class="form-appointment__field">
              <%= f.submit "Create Appointment", class: 'form-appointment__button button' %>
            </div>
          <% end %>
        </div>
        <% unless @appointments.empty?%>
          <div class="appointment-body-profile__item right-body">
            <div class="right-body__item">
              <% unless @active_appointments.empty? %>
                <h2 class='appointment-body-profile__title title'>
                  Active Appointments
                </h2>
                  <table>
                    <tr>
                      <th>Doctor</th>
                      <th>Description</th>
                      <th>Conclusion</th>
                    </tr>
                      <% @active_appointments.each do |ap| %>
                          <tr>
                            <td>
                              <%= full_name(ap.doctor) %>
                            </td>
                            <td>
                              <%= ap.description %>
                            </td>
                            <td>
                              <% if ap.conclusion %>
                                <%= ap.conclusion  %>
                              <% else %>
                                  <i>The doctor has not reviewed the appointment yet.</i>
                              <% end %>
                              <%= form_for(:appointment, url: appointment_path(ap.id), method: :delete, data: { turbo: false }) do |f| %>
                                  <%= f.submit "delete", class: 'header__link' %>
                              <% end %>
                            </td>
                          </tr>
                      <% end %>
                  </table>
              <% end %>
            </div>
            <div class="right-body__item">
              <% unless @resolved_appointments.empty? %>
                <h2 class='appointment-body-profile__title title'>
                  Resolved Appointments
                </h2>
                <table>
                  <tr>
                    <th>Doctor</th>
                    <th>Description</th>
                    <th>Conclusion</th>
                  </tr>
                    <% @resolved_appointments.each do |ap| %>
                      <tr>
                        <td>
                          <%= full_name(ap.doctor) %>
                        </td>
                        <td>
                          <%= ap.description %>
                        </td>
                        <td>
                          <%= ap.conclusion  %>
                        </td>
                      </tr>
                    <% end %>
                </table>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
