<div class="log-in-sign-in">
  <div class="log-in-sign-in__container">
    <h2 class="log-in-sign-in__title">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: {turbo: false}, class:"log-in-sign-in__form form-log-in-sign-in" }) do |f| %>
      <div class="form-log-in-sign-in__field">
        <%= f.label :email, class: 'form-log-in-sign-in__label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-log-in-sign-in__input' %>
      </div>

      <div class="form-log-in-sign-in__field">
        <%= f.label :password, class: 'form-log-in-sign-in__label' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-log-in-sign-in__input' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-log-in-sign-in__field form-log-in-sign-in__field-checkbox">
          <%= f.check_box :remember_me, class: 'form-log-in-sign-in__checkbox' %>
          <%= f.label :remember_me, class: 'form-log-in-sign-in__label form-log-in-sign-in__label-checkbox' %>
        </div>
      <% end %>

      <div class="form-log-in-sign-in__actions actions-form-log-in-sign-in">
        <div class="actions-form-log-in-sign-in__wrapper">
          <%= f.submit "Log in", class: 'form-log-in-sign-in__button button'%>
          <%= render "devise/shared/links" %>
        </div>
      </div>
      
    <% end %>

    

  </div>
</div>
